body {
    margin: 0;
    padding: 0;
}
header {
background-color: #FFC107;
text-align: center;
}

h4{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}

img {
-webkit-transform: scale(0.4);
}

header img {
-webkit-transform: scale(0.2);   
}


html {
    margin: 0;
    padding: 0;
background-color: #FFC107;
padding-top: 2%;
}

.bouton-fusion {
display: flex;
justify-content: center;
}
.container1 {
    background-color: #FFC107;
    margin-bottom: -48px;
}

.container2 {
    background-color: #FFC107;
    height: 280px;
}

form {
    display: flex;
    flex-direction: row;
}